<div class="wrapper-page">
    <div class="card">
        <div class="card-body">
          <div class="p-3 text-center">
            <h2>Sign in</h2>
          </div>
            <div class="p-2">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="index.html" class="logo-admin"><img src="<%= asset_path 'record.png' %>" height="" alt="logo"></a>
                    </div>
                    <div class="col-md-12 text-center">
                        <p class="text-muted mt-3">Sign in to continue Record Management.</p>
                    </div>
                </div>
            </div>
            <div class="p-2">
               <!--  <form class="form-horizontal m-t-5" action="index.html"> -->
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="form-group">
                        <label for="username">E-mail ID</label>
                        <input type="text" class="form-control" name="user[email]" id="username" placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <label for="userpassword">Password</label>
                        <input type="password" class="form-control" name="user[password]" id="userpassword" placeholder="Enter password">
                    </div>
                    <div class="form-group row m-t-30">
                        <div class="col-sm-6">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" name="user[remember_me]" class="custom-control-input" id="customControlInline">
                                <label class="custom-control-label" for="customControlInline">Remember me</label>
                            </div>
                        </div>
                        <div class="col-sm-6 text-right">
                            <div class="col-12 text-center"><a href="/users/password/new" class="text-muted"><i class="mdi mdi-lock"></i> Forgot your password?</a></div>
                        </div>
                    </div>
                    <div class="form-group row m-t-30">
                        <div class="col-sm-12">
                            <button class="btn btn-primary w-md waves-effect waves-light btn-block" type="submit">Log In</button>
                        </div>
                    </div>
                    <div class="form-group m-t-30 mb-0 row">
                        <div class="col-12 text-center">Create an Account?<a href="/users/sign_up" class="text-primary"> Signup here</a></div>
                    </div>
                <!-- </form> -->
                <% end %>
            </div>
        </div>
    </div>
</div>
