<%= nested_form_for(talk, local: true) do |form| %>
<div class="row" id="original-invoice">
    <div class="col-md-4">
        <div class="form-group">
            <label class="required">Title</label>
            <%= form.text_field :title, class: "form-control" , placeholder: "Title", :required => true%>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="">Abstract</label>
            <%= form.text_field :abstract, class: "form-control" , placeholder: "Abstract",:required => true %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="required">Room</label>
            <%= form.text_field :room, class: "form-control" , placeholder: "Room",:required => true %>
        </div>
    </div>
</div>
<!-- end row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="datatable1" class="table table-striped table-bordered dashboard-table dt-responsive nowrap scroll-table datatable_datatable table-input" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Company</th>
                                    <th>Email</th>
                                    <th>Registered Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%= form.fields_for :attendees, :wrapper => false do |attendee| %>
                                <tr>
                                    <td>
                                        <%= attendee.text_field :name, class: 'form-control', placeholder: "Name", :required => true %>
                                    </td>
                                    <td>
                                        <%= attendee.text_field :company, class: 'form-control', placeholder: "Company", :required => true %>
                                    </td>
                                    <td>
                                        <%= attendee.email_field :email, class: 'form-control', placeholder: "Email", :required => true %>
                                    </td>
                                    <td>
                                        <%= attendee.date_field :registered, class: 'form-control', placeholder: "Date", :required => true %>
                                    </td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-12">
                                <%= form.link_to_add "Add", :attendees, data: { target: ".datatable_datatable" }, class: "btn btn-primary mb-2 float-right" %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<div class="row">
    <div class="col-md-12">
        <div class="form-group mb-3 mt-5">
            <div class="text-center">
                <button type="reset" class="btn btn-secondary waves-effect m-l-5">Clear</button>
                <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
            </div>
        </div>
    </div>
</div>
<% end %>