<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <h4 class="page-title mb-0">Edit Talk</h4>
                                <span><%= flash[:notice] %></span>
                                <ul>
                                <% @talk.errors.full_messages.each do |msg| %>
                                  <li><%= msg %></li>
                                <% end %>
                                </ul>                                
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Edit Talk</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="">Talk</div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                     <%= render 'form', talk: @talk %>
                </div>
            </div>
        </div>
    </div>
</div> 
