<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title-box">
            <div class="row align-items-center">
              <div class="col-md-8">
                <h4 class="page-title mb-0">Talks</h4>
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item"><a href="">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Talks</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-6">
                  <div class="">Talks</div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row mb-3 align-items-center">
                <div class="col-md-8">
                  <div class="row">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="pull-right">
                    <div class="btn-group">
                      <button type="button" class="btn btn-outline-primary">Action</button>
                      <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="/talks/new"><i class="dripicons-user text-muted mr-2"></i>ADD</a>
                        <div class="dropdown-divider"></div>                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  
                  <table id="example" class="table table-bordered dt-responsive table-striped nowrap customdatatable" width="100%">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Abstract</th>
                        <th>Room</th>
                        <th>Number Of Attendee</th>                      
                        <th data-priority="2">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @talks.each do |talk| %>
                      <tr>
                        <td>
                          <input class="editor-active" data-talk-id="<%= talk.id %>" type="checkbox">
                        </td>
                        <td>
                          <%= talk.title.present? ? talk.title : "NA"  %>
                        </td>
                        <td>
                          <%= talk.abstract.present? ? talk.abstract : "NA"  %>
                        </td>
                        <td>
                          <%= talk.room.present? ? talk.room : "NA" %>
                        </td>  
                        <td>
                          <%= talk.attendees.count %>
                        </td> 
                        <td>
                          <a href="<%= talk_path(talk) %>" class="btn btn-primary btn-circle" data-toggle="tooltip" data-placement="top" title="">
                            <i class="dripicons-document-edit"></i>Show
                          </a>                          
                          <a href="<%= edit_talk_path(talk) %>" class="btn btn-primary btn-circle" data-toggle="tooltip" data-placement="top" title="">
                            <i class="dripicons-document-edit"></i>Edit
                          </a>
                          <%= link_to 'Delete', talk, method: :delete, data: { confirm: 'Are you sure?'} ,class: "btn btn-danger waves-effect waves-light text-white" %>
                        </td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- container-fluid -->
  </div>
  <!-- content -->
</div>
<script>
$(document).ready(function() {
  var table = $('#example').DataTable({
    select: {
      style: 'multi',
      selector: '.select-checkbox',
      items: 'row',
    },
    responsive: {
      details: {
        type: 'column',
        target: 0
      }
    },
    columnDefs: [{
        targets: 0,
        className: 'control'
      },
      {
        targets: 1,
        //className: 'select-checkbox'
      },
      {
        targets: [0, 1],
        orderable: false
      }
    ],
    order: [2, 'asc']
  });
  $('#exampleSelectAllTableContent').on('click', function() {
    // Check/uncheck all checkboxes in the table
    var rows = $('#example').DataTable().rows({ 'search': 'applied' }).nodes();
    $('input[type="checkbox"]', rows).prop('checked', this.checked);
  });
  $('#delete_b2b').click(function(event) {
    event.preventDefault();
    var selectedVendors = []
    $(".editor-active[type='checkbox']:checked").map(function(index, element) {
      selectedVendors.push($(element).data('b2bId'))
    })
    if (selectedVendors.length > 0) {
      var AUTH_TOKEN = $('meta[name=csrf-token]').attr('content');
      if (confirm('Are you sure you want to delete?')) {
        $.ajax({
          url: "/b2bs/destroy_selected.json",
          data: { vendor_ids: selectedVendors },
          method: 'POST',
          datatype: 'SCRIPT',
          success: function(response) {
            window.location.reload()
          },
          error: function(error) {
            alert("Unable to process your request. Please try again later!");
          }
        })
      }
    } else {
      alert("Please select atleast one Vendor to delete!");
    }
  });

});
</script>























<table>
  <thead>
    <tr>
		<th>title</th>
		<th>Abstract</th>
		<th>room</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @talks.each do |talks| %>
      <tr>
        <td><%= talks.title %></td>
        <td><%= talks.abstract %></td>
        <td><%= talks.room %></td>
        <td><%= link_to 'Show', talks %></td>
        <td><%= link_to 'Edit', edit_talk_path(talks) %></td>
        <td><%= link_to 'Destroy', talks, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Talk', new_talk_path %>