<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <h4 class="page-title mb-0">Talks</h4>
                                <span>
                                    <%= flash[:notice] %></span>
                                <ul>
                                    <% @talk.errors.full_messages.each do |msg| %>
                                    <li>
                                        <%= msg %>
                                    </li>
                                    <% end %>
                                </ul>
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Talk Show</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="">Talks Show</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3" id="gstin-customer">
                                    <div class="form-group">
                                        <label class="">Title :-</label>
                                        <%= @talk.title %>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="">Abstract :- </label>
                                        <%= @talk.abstract %>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="">Room :- </label>
                                        <%= @talk.room  %>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="">Number Of Attendee :-</label>
                                        <%= @talk.attendees.count %>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="" class="table table-bordered dt-responsive table-striped nowrap customdatatable" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Company</th>
                                                <th>Email</th>
                                                <th>Registered</th>
                                                <th data-priority="2">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% @talk.attendees.each do |at| %>
                                            <tr>
                                                <td>
                                                    <%= at.name.present? ? at.name : "NA"  %>
                                                </td>
                                                <td>
                                                    <%= at.company.present? ? at.company : "NA"  %>
                                                </td>
                                                <td>
                                                    <%= at.email.present? ? at.email : "NA" %>
                                                </td>
                                                <td>
                                                    <%= at.registered.present? ? at.registered : "NA" %>
                                                </td>
                                                <td>
                                                    <%= link_to "Delete Attendee", talk_path(id:  @talk.id, attendee_id: at.id), :confirm => 'Are you sure?', :class => "btn btn-danger waves-effect waves-light text-white", :method => :delete %>
                                                </td>
                                            </tr>
                                            <% end %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>