<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row mt-6 updates">
                <div class="col-md-2 p-0">
                    <h5>Latest Updates</h5>
                </div>
                <div class="col-md-9 p-0 scroll">
                    <marquee><a href="viewall-updates.html" class="mr-2"> Create an Rails application to create data structures mirroring talks and attendees</marquee>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <h4 class="page-title mb-0">Dashboard</h4>
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header-primary">Talks</div>
                        <div class="card-body">Add Talk</div>
                        <div class="card-body">Edit Talk</div>
                        <div class="card-body">Show Talk and its Attendees Details</div>
                        <div class="card-body">Destroy talks</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header-info">Attendees</div>
                        <div class="card-body">Delete Attendees</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>