<div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">
        <div id="sidebar-menu">
            <ul class="metismenu" id="side-menu">
                <li class="menu-title">Main</li>
                <li><a href="/" class="waves-effect"><i class="dripicons-meter"></i> <span>Dashboard</span></a></li>
                <li><a href="/talks" class="waves-effect"><i class="dripicons-article"></i><span> Talks <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span></span></a>
                </li>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script>
$(document).on("turbolinks:load", function() {
    window.jQuery.MainApp.init()
})
</script>