<div class="topbar">
    <div class="topbar-left">
        <a href="/" class="logo"><img src="<%= asset_path 'record.png' %>" alt="" height="50" class="logo-large">
            <img src="/assets/record.png" alt="" height="22" class="logo-sm"></a>
    </div>
    <nav class="navbar-custom">
        <ul class="navbar-right d-flex list-inline float-right mb-0">
            <li class="list-inline-item dropdown notification-list">
                <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"><img src="<%= asset_path 'profile-pic.png' %>" alt="user" class="rounded-circle"> <span class="d-none d-md-inline-block ml-1">Welcome
                        <%= current_user.name %><i class="mdi mdi-chevron-down"></i></span></a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown">
                    <a class="dropdown-item" href="documents/TaxPayerUserManual_GST_0.4.pdf" target="_blank"><i class="dripicons-user text-muted"></i> User Manual</a>
                    <a class="dropdown-item" href="<%#= users_change_password_path %>"><i class="dripicons-lock text-muted"></i> Change Password</a>
                    <div class="dropdown-divider"></div><a rel="nofollow" data-method="delete" class="dropdown-item" href="/users/sign_out"><i class="dripicons-exit text-muted"></i> Logout </a>
                </div>
            </li>
        </ul>
        <ul class="list-inline menu-left mb-0">
            <li class="float-left">
                <button class="button-menu-mobile open-left waves-effect"><i class="mdi mdi-menu"></i></button>
            </li>
        </ul>
    </nav>
</div>