<!DOCTYPE html>
<html>
  <head>
    <title>RecordsManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="fixed-left">
    <div id="wrapper">
      <% if current_user %>
        <%= render "layouts/topbar" %>
        <%= render "layouts/left_sidebar" %>
      <% end %>
        <%= yield %>
        <% if current_user %>
         <%= render "layouts/footer" %>
        <% end %>
    </div>
  </body>
</html>
