<div class="wrapper-page sign-up">
    <div class="card">
        <div class="card-body">
          
          <div class="p-3 text-center">
            <h2>Sign up</h2>
          </div>
            <div class="p-3 text-center">
                <a href="sign-in.html.html" class="logo-admin"><img src="<%= asset_path 'record.png' %>" height="" alt="logo"></a>
                    <div class="col-md-12 text-center">
                        <p class="text-muted mt-3">Sign up to continue Record Management.</p>
                    </div>                
            </div>
            <div class="p-3">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="username">User Name</label>
                            <input type="text" class="form-control" name="user[name]" id="user_name" placeholder="User Name">
                        </div>
                        <div class="col-md-6">
                            <label for="username">Company</label>
                            <input type="text" class="form-control" name="user[company]" id="user_company" placeholder="Company">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="username">Bio</label>
                            <input type="text" class="form-control" name="user[bio]" id="user_bio" placeholder="Bio">
                        </div>
                        <div class="col-md-6">
                            <label for="username">Email</label>
                            <input type="email" class="form-control" name="user[email]" id="user_email" placeholder="Email">
                             <span class="sign-up-example">e.g : abc@xyz.com</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="username">Password:</label>
                            <input type="password" class="form-control" name="user[password]" id="user_password" placeholder="Password">
                        </div>
                        <div class="col-md-6">
                            <label for="username">Confirm Password</label>
                            <input type="password" class="form-control" name="user[password_confirmation]" id="user_password_confirmation" placeholder="Password Confirmation">
                        </div>
                    </div>                                        
                    <div class="form-group row m-t-30 text-center">
                        <div class="col-sm-12">
                            <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Register</button>
                        </div>
                    </div>
                    <div class="form-group m-t-30 mb-0 row">
                        <div class="col-12 text-center">Sign In to Account?<a href="/users/sign_in" class="text-primary"> Login here</a></div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>